<html>
  <head>
    <meta charset='utf-8' />
    <title>Auto Edit - Cherchez un ASIN</title>
  </head>
  <body>

    <form method='get' action='/book'>
      <label for='asin'>ASIN</label>
      <input
        type='text'
        id='asin'
        name='asin'
        required
        placeholder='Recherchez un livre grâce à son ASIN'
        size='50'
      />
      <button type='submit'>Chercher</button>
    </form>
  </body>
</html>