<div style="margin-top:50px;margin-bottom:50px">
  <h1>Bienvenue sur Auto Edit</h1>  
</div>
{{> search_asin}}
{{#if error}}
  {{#if error.isInvalidASINError }} 
    <div style="color:red">      
      L'ASIN {{error.asin}} n'existe pas. Veuillez entrer un ASIN existant.
    </div>
  {{/if}}
{{/if}}
</div>