<div>
    <footer
    class='d-flex flex-wrap justify-content-between align-items-center py-3 my-4'
  >
    <p class='mb-0'>Copyright 2023 - Auto-edition-facile.com</p>

    

    <p class='mb-0'>
      <a
          href='https://auto-edition-facile.com/mentions-legales-politique-de-confidentialite/'
          class='px-2'
          target="_blank"
        >Mentions Légales et Politique de Confidentialité</a>&nbsp;|&nbsp;
      <a
          href='https://auto-edition-facile.com/contact/'
          class='px-2'
          target="_blank"
        >Contact</a>
      

    </ul>
  </footer>
</div>