<div style='margin-top:10px;margin-bottom:10px'>
  <form method='get' action='/book'>
    <label for='asin'>ASIN</label>
    <input
      type='text'
      id='asin'
      name='asin'
      required
      placeholder='Recherchez un livre grâce à son ASIN'
      size='50'
    />
    <button type='submit'>Chercher</button>
  </form>
</div>