
<div class="container">
  <div class="d-flex justify-content-center py-5 width-90">
    <form class='search-asin-form w-75' role='search' method='get' action='/admin-books'>    
       <label class="p-2" for="asins">Rechercher un ou plusieurs ASINs:</label>
       <div class="input-group gap-2">        
        <input
          id='asins'
          name='asins'
          type='search'
          class='form-control input-asin'
          placeholder='[ADMIN] Saisissez un ou plusieurs ASIN séparés par des virgules : B09ZYQRVQB, B0B14862MF ...'
          aria-label='Saisir un ASIN'
          aria-describedby="asins"
          required 
        />
        <button class="search-asin-btn btn btn-primary" type="submit">
          <span class="search-asin-btn-text">Chercher</span>
          <span class="search-asin-btn-text-loading d-none">En cours 
            <span class="spinner-border spinner-border-sm" role="status"></span>
          </span>
        </button>
      </div>
    </form>
  </div>
  {{!-- <p>adminparam[{{adminParam}}]</p> --}}
  
  {{#if error}}
    <div class="alert alert-danger d-flex justify-content-center p-1 fs-6 mb-5">    
      {{error.message}}
    </div>
  {{/if}}

  {{#if asinsWithErrors}}
    <div class="alert alert-warning d-flex justify-content-center p-1 fs-6 mb-5">    
      ASIN(s) inconnus(s) : {{asinsWithErrors}}
    </div>
  {{/if}}
  
 
  
  
</div>
<script defer src="assets/js/search-asin.js"></script>